<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="file" xsi:type="File"
            layout="${longdate} ${logger} ${message}${exception:format=ToString}"
            fileName="${basedir}/logs/AppLog.${shortdate}.txt"
            maxArchiveFiles="4"
            archiveAboveSize="10240"
            encoding="utf-8" />
		<target name="activityFile" xsi:type="File"
            layout="${longdate}: ${message}"
            fileName="${basedir}/logs/activityFile.txt"
            maxArchiveFiles="4"
            archiveAboveSize="10240"
            encoding="utf-8" />
	</targets>

	<rules>
		<logger name="mainLog" minlevel="Trace" writeTo="file" />
		<logger name="activityLog" minlevel="Trace" writeTo="activityFile" />
	</rules>
</nlog>